@import '~antd/dist/antd.css';

.ShapkaDIV {
    background-color: #272931c2;
    height: 85px;
    display: grid;
    grid-template-rows: 7.5em;
}

.Avatar {
    position: relative;
    top: 10%;
    margin-left: auto;
    margin-right: auto
}

.Button{
    margin-left: auto;
    margin-right: auto
}